<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= typeof metaTitle !== 'undefined' ? metaTitle : (typeof title !== 'undefined' ? title : 'Website') %></title>
<meta name="description" content="<%= typeof metaDescription !== 'undefined' ? metaDescription : '' %>">

<link rel="canonical" href="<%= typeof canonical !== 'undefined' ? canonical : '' %>">

<meta property="og:type" content="website">
<meta property="og:title" content="<%= typeof metaTitle !== 'undefined' ? metaTitle : (typeof title !== 'undefined' ? title : 'Website') %>">
<meta property="og:description" content="<%= typeof metaDescription !== 'undefined' ? metaDescription : '' %>">
<meta property="og:url" content="<%= typeof canonical !== 'undefined' ? canonical : '' %>">
<meta property="og:image" content="<%= typeof ogImage !== 'undefined' ? ogImage : '' %>">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= typeof metaTitle !== 'undefined' ? metaTitle : (typeof title !== 'undefined' ? title : 'Website') %>">
<meta name="twitter:description" content="<%= typeof metaDescription !== 'undefined' ? metaDescription : '' %>">
<meta name="twitter:image" content="<%= typeof ogImage !== 'undefined' ? ogImage : '' %>">

<link rel="icon" href="<%= (settings && settings.favicon) ? settings.favicon : '/images/default-logo.png' %>">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/responsive.css">
<link rel="stylesheet" href="/css/admin.css">
