<div class="product">
  <div class="product-img">
    <img src="<%= product.thumbnail %>" alt="<%= product.name %>">
    <% if (product.status === 'sold_out') { %><div class="product-label"><span class="sale">Sold Out</span></div><% } %>
  </div>
  <div class="product-body">
    <p class="product-category"><%= product.category %></p>
    <h3 class="product-name"><a href="/product/<%= product.slug %>"><%= product.name %></a></h3>
    <h4 class="product-price">
      <%= product.price_thb ? 'THB ' + product.price_thb.toLocaleString('en-US') : '' %>
      <% if (product.price_idr) { %><small>| IDR <%= product.price_idr.toLocaleString('en-US') %></small><% } %>
      <% if (product.compare_price_thb || product.compare_price_idr) { %>
        <del class="product-old-price">
          <% if (product.compare_price_thb) { %>THB <%= product.compare_price_thb.toLocaleString('en-US') %><% } %>
          <% if (product.compare_price_idr) { %> / IDR <%= product.compare_price_idr.toLocaleString('en-US') %><% } %>
        </del>
      <% } %>
    </h4>
    <div class="product-rating"></div>
    <div class="product-btns"><a href="/product/<%= product.slug %>" class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">detail</span></a></div>
  </div>
  <div class="add-to-cart">
    <% if (product.status === 'sold_out') { %>
      <button class="add-to-cart-btn" type="button" disabled><i class="fa fa-ban"></i> sold out</button>
    <% } else { %>
      <form method="post" action="/cart/add">
        <input type="hidden" name="product_id" value="<%= product.id %>">
        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
      </form>
    <% } %>
  </div>
</div>
