<aside class="sidebar-box">
  <div class="sidebar-head"><%= homepage.sidebarTitle %></div>
  <div class="schedule-list">
    <% homepage.sidebarItems.forEach((item) => { %>
      <div class="schedule-item">
        <div class="schedule-header">
          <span>JAM</span>
          <span>NAMA</span>
        </div>
        <div class="schedule-body">
          <div class="schedule-time">
            <strong><%= item.time %></strong>
            <small><%= item.note %></small>
          </div>
          <div class="schedule-name">
            <strong><%= item.name %></strong>
            <small>Nilai akhir : <b><%= item.lastResult %></b></small>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</aside>
