<%- include('partials/head') %>
<%- include('partials/header') %>
<div class="section"><div class="container"><div class="row">
  <% categories.slice(0,3).forEach(function(cat, idx){ %>
    <div class="col-md-4 col-xs-6">
      <div class="shop">
        <div class="shop-img"><img src="<%= products[idx] ? products[idx].thumbnail : settings.logo %>" alt="<%= cat.name %>"></div>
        <div class="shop-body"><h3><%= cat.name %><br>Collection</h3><a href="/shop?category=<%= encodeURIComponent(cat.name) %>" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a></div>
      </div>
    </div>
  <% }) %>
</div></div></div>
<div class="section"><div class="container"><div class="row"><div class="col-md-12"><div class="section-title"><h3 class="title">Featured Products</h3></div></div>
  <% featured.forEach(function(product){ %><div class="col-md-3 col-sm-6 col-xs-6"><%- include('partials/product-card', { product }) %></div><% }) %>
</div></div></div>
<div class="section"><div class="container"><div class="row"><div class="col-md-12"><div class="section-title"><h3 class="title">Recommended</h3></div></div>
  <% recommended.forEach(function(product){ %><div class="col-md-3 col-sm-6 col-xs-6"><%- include('partials/product-card', { product }) %></div><% }) %>
</div></div></div>
<div class="section"><div class="container"><div class="row"><div class="col-md-12"><div class="section-title"><h3 class="title">Latest Articles</h3></div></div>
  <% articles.forEach(function(article){ %>
  <div class="col-md-4 col-xs-12"><div class="admin-card article-card"><img src="<%= article.thumbnail %>" alt="<%= article.title %>"><h3 class="mt-15"><a href="/article/<%= article.slug %>"><%= article.title %></a></h3><p><%= article.excerpt %></p></div></div>
  <% }) %>
</div></div></div>
<%- include('partials/footer') %>
