<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="wrap content-grid">
  <%- include('partials/sidebar-info', { homepage }) %>
  <section class="content-column">
    <% posts.forEach((post) => { %>
      <%- include('partials/post-card', { post, formatDateTime }) %>
    <% }) %>
  </section>
</main>

<%- include('partials/footer') %>
